@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
.contact-container {
    /* border: 1px solid greenyellow */
}
.contact-container h1 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Noto Serif', serif;
    font-weight: 100;
    margin-bottom: 0;
    font-size: 30px;
}
.contact-links {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    font-size: 45px;
}
.contact-links a{
    color: black;
}
.contact-links a:hover {
    color:#a3cacc;
}