@import url('https://fonts.googleapis.com/css?family=Amaranth|Mitr&display=swap');
.header-container {
    /* border-bottom: 1px solid #738097 ; */
    display: flex;
    justify-content: space-between;
    font-family: 'Rozha One', serif;
    font-size: 20px;
    align-items: center;
    top: 0;
    width: 100%;
    background-color: #fff;
    font-family: helvetica;
    overflow: hidden;
    position: fixed;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19);
}
.text h1 {
    font-size: 87px;
    letter-spacing: -15px;
    font-weight: 800;
    margin: 0;
  }
.title img {
    height: 100px;
    width: 150px;
}
.text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    mix-blend-mode: screen;
    width: 20%;
    overflow:hidden;
  }
.header-links {
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 20%;
    margin-right: 1%;
    color: purple;
    font-family: 'Rozha One', serif;
}
.header-links a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.header-links a:hover{
    text-decoration: underline;
    color:#d86513
}

    
  